.container_ninja {
}

.container_ninja .scene {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.container_ninja .stats {
    position: absolute;
    left: 45%;
    top: 0;
    text-align: center;
}

.container_ninja .stats  p {
    /* color: #fff; */
    margin: 0.1em;
    font-size: 3em;
}