.ScoreCardContainer {
  display: flex;
  z-index: 0;
}

.ScoreCardBackground {
  z-index: 1;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  background-color: #333333;
  background-blend-mode: multiply;
  border-radius: 100px;
  position: relative;
}


.ScoreCardImage {
  position: absolute;
  top: -80px;
  z-index: 2;
  left: 56px;
  max-width: 195px;
  max-height: auto;
}

.ScoreCardInfo {
  z-index: 2;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ScoreCardUserName, .ScoreCardUserPoints {
  color: #fff;
  font-family: 'Banda Regular', sans-serif;
  margin-top: 10px;
}

.ScoreCardUserName {
  font-weight: 500;
}
