  .cont-logo{
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  
  .cont-logo > img {
    max-width: 350px !important;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
