.container_personaje {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
}

.container-carousel {
    text-align: center;
}

.container_siguiente {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo-personaje{
    display: flex;
    justify-content: center;
}

