.container_focus_puntaje {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container_focus_puntaje p {
    color: #fff;
    font-size: 1.4em;
}

.texto-puntaje-focus{
    font-size: 1.35em;
}