.container_intro_ninja {
    background-image: url(../../../assets/img/ninja/background-exp-ninja-game.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.container_intro_ninja header {
    padding: 10px;
}

.container_intro_ninja .descripcion {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    color: #fff;
    font-size: 2em;
    padding-bottom: 10%;
}

.container_intro_ninja .descripcion p {
    margin: 0.2em;
}

.texto-indicaciones-inicio-ninja{
    font-size: 1.35em;
    font-family: 'Banda bold', sans-serif;
}

@media (max-width: 768px) {
    /* Estilos específicos para pantallas más pequeñas */
    body {
      font-size: 16px;
    }
    .texto-indicaciones-inicio-ninja{
        font-size: 1em !important;
    }
    .header-intro-ninja img{
        width: 350px;
        margin: 0 auto;
    }
    .flechas-imagen img{
        width: 300px;
    }
    .cont-logo{
        width: 100%;

    }
    .cont-logo img{
        width: 300px;
        margin: 0 auto;

    }
    .stats{
        position: inherit !important;
    }
}