.pacman-summary-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url('../../../assets/img/pacman/fondo-home-pacman-antifraude.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.container-text-summary{
    margin-top: 50px;
    background-color: rgb(13, 13, 56, 0.7);
    max-width: 420px;
    border-radius: 20px;
}

.texto-summary1{
    margin-top: 30px;
    text-align: center;
    color: orange;
    font-size: 26px;
    font-weight: bold;
}

.texto-summary2{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: rgb(169, 175, 255);
    font-size: 26px;
    font-weight: bold;
}