.container_screen_ruleta_puntaje {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container_ruleta_puntaje {
    text-align: center;
}

/* .container-personaje-felicitaciones{
    text-align: center;
    margin: 0 auto;
}

.container-personaje-felicitaciones img{
    display: inline-block;
} */